/*! ─── Classes Gerais ─────────────────────────────────────────────────────── */
* { font-family: 'Barlow', sans-serif; }

body {
  margin: 0;
  background: linear-gradient(180deg, #0e0b13 0%, #171221 100%);
}

b { font-weight: 600; }

/*! ─── Classes Reutilizáveis ──────────────────────────────────────────────── */
/** disativar-imagem */
.dis-img { pointer-events: none; }

/** fontes */
.fs-4 { font-size: 1.10rem !important; }
.fs-5 { font-size: 1.20rem !important; }
.fs-6 { font-size: 16px; }

/** divisor */
.divisor {
  margin: 5rem auto !important;
  color: transparent;
}

/*! ─── Componentes ──────────────────────────────────────────────── */

/*? ─── Botões ─────────────────────────────────────────────────────────────── */

/** botão-1 */
.btn-1 {
  background-color: #ffffff;
  color: #0e0b13;
  border-radius: 0.7rem;
  transition: 0.3s;
  font-weight: 600;
}
.btn-1:hover { /*hover*/
  color: #0e0b13;
  background-color: #ffffff;
  box-shadow: 0px 15px 40px #ffffff28;
}
.btn-1:active { /*active*/
  transform: translateY(4px);
}

/** botão-2 */
.btn-2 {
  background-color: transparent;
  color: white;
  border-color: #ffffff48;
  border-radius: 0.5rem;
  transition: 0.1s;
  font-weight: 500;
  height: 40px;
}
.btn-2:hover { /*hover*/
  border-color: white;
}

/*? ─── Imagens ─────────────────────────────────────────────────────────────── */

/** imagem-animada-apresentação */
.img-anim {
  transition: 1s;
}
.img-anim:hover { /*hover*/
  transform: translateY(13px);
  z-index: 102;
}
.img-anim:active { /*active*/
  transform: translateY(-13px);
}

/** imagens-projetos */
.img-projeto {
  box-shadow: 0px 5px 20px #00000099;
}

/** imagens-habilidades */
.img-habilidade {
  height: auto !important;
  width: 33% !important;
}

/** imagens-contato */
.img-contato {
  transition: 0.2s;
}
.img-contato:hover {
  transform: translateX(2px);
}

/*? ─── Links ─────────────────────────────────────────────────────────────── */

/** link-1 */
.link-1 {
  text-decoration: none;
  color: white;
  transition: 0.2s;
  width: fit-content;
  display: flex;
}
.link-1 h5 {
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.link-1:hover * {
  box-shadow: 0 2px 10px #ffffff48;
  color: #000000 !important;
  background-color: white;
}

/*? ─── DIVs ─────────────────────────────────────────────────────────────── */

/* ─── Apresentação ───────────────────────────── */

/** div-principal-apresentacao */
.div-main-apresentacao {
  border-radius: 1rem;
  background: linear-gradient(180deg, #3b2557bf 0%, #15111d00 100%);
}

/* ─── Projetos ───────────────────────────── */

/** div-principal-projetos */
.div-main-projetos {
  border-radius: 1rem;
  background: linear-gradient(180deg, #3b2557bf 0%, #15111d00 100%);
}

/** divs-projetos */
/* projeto-1 */
.div-projeto-1 {
  background: linear-gradient(90deg, #3B2557 0%, #111 100%);
  border-right: 2px solid #ffffff4a;
}

/* projeto-2 */
.div-projeto-2 {
  background: linear-gradient(90deg, #111 0%, #251934 100%);
  border-left: 2px solid #ffffff4a;
}

/* projeto-geral */
.div-projeto-1,
.div-projeto-2 {
  border-radius: 0.8rem;
}

/* ─── Habilidades ───────────────────────────── */

/** div-principal-habilidades */
.div-main-habilidades {
  border-radius: 1rem;
  background: linear-gradient(180deg, #3b2557bf 0%, #15111d00 100%);
}

/** divs-habilidades */
/* habilidade-1 */
.div-habilidade-esq-cima {
  background: linear-gradient(315deg, #3b207499 0%, #1d152e00 100%);
}

/* habilidade-2 */
.div-habilidade-dir-cima {
  background: linear-gradient(45deg, #3b207499 0%, #1d152e00 100%);
}

/* habilidade-3 */
.div-habilidade-esq-baix {
  background: linear-gradient(225deg, #3b207499 0%, #1d152e00 100%);
}

/* habilidade-4 */
.div-habilidade-dir-baix {
  background: linear-gradient(135deg, #3b207499 0%, #1d152e00 100%);
}

/* habilidade-geral */
.div-habilidade-esq-cima,
.div-habilidade-esq-baix,
.div-habilidade-dir-baix,
.div-habilidade-dir-cima {
  border-radius: 0.8rem;
  padding: 1.5rem;
  margin: 1rem;
  transition: 0.2s;
}

/* ─── Formação ───────────────────────────── */

/** div-principal-formacao */
.div-main-formacao {
  border-radius: 1rem;
  background: linear-gradient(180deg, #3b2557bf 0%, #15111d00 100%);
}

/** div-formacoes */
/* formacao-1 */
.div-formacoes-1 {
  background: linear-gradient(45deg, #1d152e00 0%, #3b207499 100%);
}

/* formacao-3 */
.div-formacoes-2 {
  background: linear-gradient(45deg, #3b207499 0%, #1d152e00 100%);
}

/* formacao-geral */
.div-formacoes-1,
.div-formacoes-2 {
  width: 84%;
  padding: 1.3rem;
  margin-top: 1.5rem;
  border-radius: 0.8rem;
  transition: 0.2s;
}

/* ─── Contato ───────────────────────────── */

/** div-principal-contato */
.div-main-contato {
  margin-top: 6rem;
  background: linear-gradient(180deg, #17122000 0%, #2d2a61 100%);
  transition: 0.2s;
}

/*? ─── Outros ─────────────────────────────────────────────────────────────── */

/** barra-progresso */
.progress {
  background-color: #c5c5c5;
  height: 2px;
}
.progress-bar {
  background-color: #6a28bf;
}