/** font */
* {
    font-family: 'Open Sans', sans-serif;
}

/** body */
body {
    margin: 0;
}

/** botão */
.bot {
    background-color: #6C63FF;
    color: white;
} .bot:hover {
    transition: 0.3s;
    background-color: #3F3D56;
    color: white;
}

/** image-bob */
.image-bob{
    transition: 1s;
}.image-bob:hover {
    transform: translateY(13px);
    z-index: 102;
}

/** navbar-hover */
.nav-hover{
    border-radius: 15px;
}.nav-hover:hover{
    transition: 0.3s;
    background-color: aliceblue;
    color: #3F3D56 !important;
}