/*? Classes Gerais ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
* {
    font-family: 'Open Sans', sans-serif !important;
}

body {
    margin: 0;
    background: linear-gradient(180deg, #0E0B13 0%, #171221 100%);
}

/*? Classes Reutilzáveis ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/** disable-image */
.dis-img{
    pointer-events: none;
}

.fs-5 {
    font-size: 1.15rem !important;
}

/*? Classes Específicas ------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/** navbar */
.navbar {
    background: linear-gradient(90deg, #29262d 0%, #342942 100%) !important;
}
.navbar a {
    background-color: #8274BA42 !important;
    margin: 0 0.5vw;
    border-radius: 15px;
}
.navbar a:hover {
    color: white !important;
    background-color: #a796eb7a !important;
}

/** presentation */
/* image */
.image-bob{
    transition: 1s;
}
.image-bob:hover {
    transform: translateY(13px);
    z-index: 102;
}
.image-bob:active{
    transform: translateY(-13px);
}

/* presentation */
.presentation-div {
    border-radius: 10px;
    background: var(--divs-x, linear-gradient(180deg, rgba(59, 37, 87, 0.75) 0%, rgba(21, 17, 29, 0.00) 100%));
}

/* aplication-button */
.aplic-button {
    background-color: #ffffff;
    color: #0E0B13;
    border-radius: 2px;
    transition: 0.1s;
} 
.aplic-button:hover {
    background-color: #0e0b1300;
    color: white;
    border: 1px solid white;
}