* {
    font-family: 'Barlow', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

b {
    font-weight: 600;
}

.container-principal {
    /* width: 100vw;
    height: 100vh; */
}

.linha {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bloco {
    flex: 1 0 0%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 3rem;
}

.home-emoji-alien {
    width: 55px;
    user-select: none;
    margin-left: 0.3rem;
    transition: 0.2s;
}
.home-emoji-alien:hover {
    transform: rotate(15deg);
}
.home-emoji-alien:active {
    transform: translateY(5px);
}

.p-1 {
    color: aliceblue;
    font-size: 24px;
    width: 80%;
    line-height: 2.2rem;
}